{% extends "base.html" %}
{% block title %}Wistar - Lab Rat - Images{% endblock %}
{% load staticfiles %}
{% block content %}
<h2>Imported Disk Images</h2>
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Options</th>
    </tr>
    {% for image in image_list %}
    <tr>

        <td>
            <a href='{{ image.id }}'>{{ image.name }}</a>
            </td>
        <td>
            {{ image.description }}
        </td>
        <td>
            <a href='edit/{{ image.id }}'>Edit</a>
            &nbsp;
            {% if global_config.deployment_backend = "kvm" %}
            <a href="{% static image.file %}">Download</a>
            &nbsp;
            {% endif %}
            <a href='delete/{{ image.id }}'>Delete</a>
        </td>

    </tr>
    {% endfor %}
</table>

<a href='new/' title="Upload a new image file from your local machine">Upload new image</a> &nbsp;
<a href='blank/' title="Create a blank image on the wistar server. Useful to install an OS from ISO for example">
    Define blank image
</a> &nbsp;
<a href='local/' title="Create an image from a file that exists on the Wistar server.
Useful if you need to copy a large file to the server first rather than upload via HTTP">
    Define Local image
</a>
{% if global_config.deployment_backend = "openstack" %}
&nbsp;
<a href='glanceImages/' title="View and Import images from Glance">
    Import Images from OpenStack Glance Service
</a>
{% endif %}

{% endblock %}
