{% extends "base.html" %}
{% load staticfiles %}
{% block scripts %}
<script type="text/javascript">
    function validateForm() {
        var d = $('#id_description');
        var n = $('#id_name');
        var f = $('#id_filePath');
        var t = $('#id_type');
        if (n.val() == "") {
            alert("Please enter a name!");
            n.focus();
            return false;
        }
        if (d.val() == "") {
            alert("Please enter a description!");
            d.focus();
            return false;
        }
        if (f.val() == "") {
            if (t.val() != "blank") {
                alert("Please choose a valid image!");
                f.focus();
                return false;
            } else {
                return true;
            }
        }
    }

</script>
{% endblock %}
{% block content %}
<div class="centered_box_75">
    <h2>New Image</h2>

    <form method="post" enctype="multipart/form-data" onsubmit="javascript: return validateForm();"
          action="/images/create/">
        <table>
            {{ image_form.as_table }}
            <tr>
                <td colspan="2">
                    {% csrf_token %}
                    <input type="submit"/>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
