
{% extends "base.html" %}
{% block title %}Wistar - Lab Rat - Edit Topology {% endblock %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript" src="{% static "js/shifty.js" %}"></script>
    <script type="text/javascript" src="{% static "js/raphael.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-1.8.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui-1.8.23.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.layout.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.autoresize.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-touch_punch.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.contextmenu.js" %}"></script>
    <script type="text/javascript" src="{% static "js/rgbcolor.js" %}"></script>
    <script type="text/javascript" src="{% static "js/canvg.js" %}"></script>
    <script type="text/javascript" src="{% static "js/Class.js" %}"></script>
    <script type="text/javascript" src="{% static "js/json2.js" %}"></script>
    <script type="text/javascript" src="{% static "js/draw2d.js" %}"></script>
    
    <script type="text/javascript" src="{% static "js/topologyIcon.js" %}"></script>
    <script type="text/javascript" src="{% static "js/externalCloudIcon.js" %}"></script>
    <script type="text/javascript" src="{% static "js/topologySelectionListener.js" %}"></script>
    
    <script type="text/javascript" src="{% static "js/wistar_utils.js" %}"></script>
  
    <script type="text/javascript" src="{% static "js/prototype.js" %}"></script>
   
    <script type="text/javascript">
    var canvas;
    var lastX = 0;
    var lastY = 0;

    var vmxCount = 1;

    var externalCloudAdded = false;
    
    function loadTopology() {
        var test = $('json').value;
    	if (test != null) {
		    var jsonTxt = JSON.stringify(test, null, 2);
		    var json = eval(test);
		    reader = new draw2d.io.json.Reader();
		    reader.unmarshal(canvas, json);
		    for(i=0;i<json.length;i++) {
			    if (json[i]["type"] == "draw2d.shape.node.topologyIcon") {
				    vmxCount++;
			    }
		    }
    	}
    } 

    function incrementIconIp(ip)  {
        var iparray = ip.split('.');
        if(iparray.length == 4) {
            var last = parseInt(iparray[3]);
            if(! isNaN(last)) {
                return iparray[0] + "." + iparray[1] + "." + iparray[2] + "." + (last + 1);
            } else { 
                return ip;
            }
        } else {
            return ip;
        }
    }

    function incrementIconName(name) {
        var last = name.substr(-1);
        var lastInt = parseInt(last);
        if (last == "9") {
            var lastTwo = name.substr(-2);
            var lastTwoInt = parseInt(lastTwo);
            if (! isNaN(lastTwoInt)) {
                return name.substring(0, name.length -2) + (lastTwoInt + 1);
            } else {
                // last two are not an int, check for single digit suffix
                if (! isNaN(lastInt)) {
                    return name.substring(0, name.length -1) + (lastInt + 1);
                } else {
                    return name;
                }
            }
        } else {
            if (! isNaN(lastInt)) {
                return name.substring(0, name.length -1) + (lastInt + 1);
            } else {
                return name;
            }
        }
    }

    function addIcon() {
    	var ip = $F('topoIconIp');
    	var pw = $F('topoIconPass');
    	var name = $F('topoIconName');
    	var type = $F('topoIconType');
    	var image = $F('topoIconImage');
    	var cpu = $F('topoIconCpu');
    	var ram = $F('topoIconRam');
    	var iconData = $F('topoIconIcon');
       
        if (ip == "") {
            alert("Please add a valid IP address");
            return;
        } 

        if (name == "") {
            alert("Please add a valid instance name");
            return;
        } 
 
        var icon = iconData.split(":")[0]; 
        var width = iconData.split(":")[1]; 
        var height = iconData.split(":")[2]; 
        var iconPath = "/static/images/" + icon + ".png";
        
    	var canvas_object = new draw2d.shape.node.topologyIcon(iconPath, width, height);
        canvas_object.setup(type, name, ip, pw, image, cpu, ram);
    	lastX += 50;
    	lastY += 50;
    	vmxCount += 1;
	    canvas.addFigure(canvas_object, lastX, lastY);

        // let's try to increment everything nicely
    	$('topoIconIp').value = incrementIconIp(ip);
    	$('topoIconName').value = incrementIconName(name);
    }

    function exportJson() {
        // Create a JSON writer and convert it into a JSON-String representation.
        
    	var writer = new draw2d.io.json.Writer();
        var json = writer.marshal(canvas);

        // convert the json object into string repesentation
        var jsonTxt = JSON.stringify(json, null, 2);

        // insert the json string into a DIV for preview or post
        // it via ajax to the server....
        $("json").value = jsonTxt;
    }

    function updateTopology() {
        alert('You may need to redeploy this topology after this update!');
	    exportJson();
	    $('topoForm').submit();
    }

    function saveTopology() {
	    exportJson();
	    $('topoForm').submit();
    }

    function createConfigSet() {
        var r = confirm("Snapshot configs of all running instances?");
        if (r == true) {
            $('configSetForm').submit();
        }
    }

    function cloneTopology() {
        if(confirm("Are you sure you want to clone this topology?")) {
		    window.location="/topologies/clone/{{ topo.id }}";
	    }
    }

    function deployTopologyOld() {
        if(confirm("Are you sure you want to deploy this topology? This will define all instances in the hypervisor")) {
		    window.location="/topologies/deploy/{{ topo.id }}";
	    }
    }
    
    function deleteTopology() {
        if(confirm("Are you sure you want to delete this topology?")) {
		    window.location="/topologies/delete/{{ topo.id }}";
	    }
    }

    function checkPass(pw) {
        if(pw != "") {
            upper = pw.match('[A-Z]');
            lower = pw.match('[a-z]');
            digit = pw.match('[0-9]');

            if (upper && lower && digit) {
                console.log('password accepted');
            } else {
                alert('Password does not meet complexity requirments');
            }
        } else {
                alert('Password is required');
        }

    }

    function setImageType() {
        id = $('topoIconImageSelect').value.split(':')[0]
        type = $('topoIconImageSelect').value.split(':')[1]
        console.log("Setting image to " + id + " and type to " + type);
        $('topoIconType').value = type;
        $('topoIconImage').value = id;
    }

    // get the name that was used to create the vm instance
    // these use a very simple method to ensure some amount
    // of uniqueness within the hypervisor
    function generateDomainNameFromLabel(name) {
        if ( "{{ topo.id }}" == "" ) {
            alert('Topology not yet deployed');
        }
        return "t{{ topo.id }}_" + name;
    }

    function preconfigJunosDomain(label, password, ip, mgmtInterface) {
        domain = generateDomainNameFromLabel(label);
        var url = "/ajax/preconfigJunosDomain/";
        var params = {
            'domain' : domain,
            'ip' : ip,
            'password' : password,
            'mgmtInterface' : mgmtInterface 
        };
        var successMessage = "Success!";
        
        simpleAjaxRequest(url, params, successMessage);
    }

    function pushConfigSet(configSetId) {
        var url = "/ajax/pushConfigSet/"
        var params = {
            'id' : configSetId
        };
        var successMessage = "Config Set Push Complete!";
        
        simpleAjaxRequest(url, params, successMessage);
    }

    function deleteConfigSet(configSetId) {
        var url = "/ajax/deleteConfigSet/"
        var params = {
            'id' : configSetId
        };
        var successMessage = "Config Set Deleted";
        
        simpleAjaxRequest(url, params, successMessage);
        location.reload();
    }

    function preconfigFirefly(label, password, mgmtInterface) {
        domain = generateDomainNameFromLabel(label);
        var url = "/ajax/preconfigFirefly/";
        var params = {
            'domain' : domain,
            'password' : password,
            'mgmtInterface' : mgmtInterface 
        };
        var successMessage = "Success!";
        
        simpleAjaxRequest(url, params, successMessage);
    }

    function configDeviceInterfaces(ip, password) {
        var url = "/ajax/configJunosInterfaces/";
        var params = {
            'ip' : ip,
            'password' : password
        };
        var successMessage = "Success!";
        
        simpleAjaxRequest(url, params, successMessage);
    }

    // fixme - do something useful with this data!
    function getJunosConfig(ip, password) {
        
        var url = "/ajax/getJunosConfig/";
        var params = {
            'ip' : ip,
            'password' : password
        };
        var successMessage = "Success!";
        
        simpleAjaxRequest(url, params, successMessage);
        
    }

    function syncLinkData() {

        if (! confirm("Are you sure you want to send this information to the VMs?")) {
            return false;
        }

        var params = { 
            'sourceIp' : $F('connectionSourceIp'),
            'sourceIface' : $F('connectionSourceIface'),
            'targetIp' : $F('connectionTargetIp'),
            'targetIface' : $F('connectionTargetIface'),
            'sourcePortIp' : $F('connectionSourcePortIp'),
            'targetPortIp' : $F('connectionTargetPortIp'),
            'sourcePw' : $F('connectionSourcePw'),
            'targetPw' : $F('connectionTargetPw')
        };
        var url = "/ajax/syncLinkData/";
        var successMessage = "Successly pushed IP addresses to VMs";

        simpleAjaxRequest(url, params, successMessage);
    }

    // Simple function to update the deploymentStatusDiv with the current hypervisor state
    function refreshDeploymentStatus() {
        new Ajax.Updater('deploymentStatus', '/ajax/refreshDeploymentStatus/', {
            parameters: { 'topologyId' : '{{ topo.id }}' }
        });
    }
    
    // Simple function to update the deploymentStatusDiv with the current hypervisor state
    function manageDomain(action, domainId) {
        if (action == "stop") {
            if (! confirm("This will power off the instance ungracefully!")) {
                return false;
            }
        } else if (action == "undefine") {
            if (! confirm("This will delete this instance entirely!")) {
                return false;
            }
        }
        new Ajax.Updater('deploymentStatus', '/ajax/manageDomain/', {
            parameters: { 
                'topologyId' : '{{ topo.id }}',
                'domainId' : domainId,
                'action' : action
        
            }
        });
    }

    // Simple function to update the deploymentStatusDiv with the current hypervisor state
    function manageNetwork(action, networkName) {
        new Ajax.Updater('deploymentStatus', '/ajax/manageNetwork/', {
            parameters: {
                'topologyId' : '{{ topo.id }}',
                'networkName' : networkName,
                'action' : action
            }
        });
    }

    function deployTopology() {
        var doc = document.getElementsByTagName('html')[0];
        doc.style.cursor = 'progress';
        new Ajax.Updater('deploymentStatus', '/ajax/deployTopology/', {
            parameters: { 'topologyId' : '{{ topo.id }}' },
            onComplete: function() {
                doc.style.cursor = '';
            }
        });
    }

    function simpleAjaxRequest(url, params, successMessage) {
        var doc = document.getElementsByTagName('html')[0];
        doc.style.cursor = 'progress';
        new Ajax.Request(url, {
	        parameters: params,
            onSuccess: function(response) {
                data = eval(response.responseJSON);
                console.log(data);
                doc.style.cursor = '';
		        if (data["result"] == false) {
			        alert(data["message"]);
		        } else {
			        alert(successMessage);
		        }
                return data;
            },
            onFailure: function(response) {
                doc.style.cursor = '';
                alert("Could not perform request!");
		        console.log(response);
            }
        });
    }

    function getJunosStartupState(label) {
        domain = generateDomainNameFromLabel(label);
        
        var doc = document.getElementsByTagName('html')[0];
        doc.style.cursor = 'progress';

        new Ajax.Request('/ajax/getJunosStartupState/', {
	        parameters: { 'name' : domain },
            onSuccess: function(response) {
                data = eval(response.responseJSON);
                console.log(data);
		        if (data["result"] == false) {
			        alert("Device is not yet booted up!");
		        } else {
			        alert("Device is Booted and Ready!");
		        }
            },
            onFailure: function(response) {
                alert("Could not load data!!!");
		        console.log(response);
                //alert(response);
            },
            onComplete: function(response) {
                doc.style.cursor = '';
            }
        });
    }

    function executeCli() {
        var ip = $F('junosIconIp');
        var pw = $F('junosIconPass');
        var cli = $F('cli');

        var doc = document.getElementsByTagName('html')[0];
        doc.style.cursor = 'progress';

        new Ajax.Request('/ajax/executeCli/', {
            parameters: { 
                'pw' : pw,
                'ip' : ip,
                'cli' : cli
            },
            onSuccess: function(response) {
                data = eval(response.responseJSON);
                if (data["result"] == false) {
                    alert("Device is not yet booted up!");
                    $('cliOutput').value = "error";
                    $('cliOutput').style.height = "";
                } else {
                    $('cliOutput').value = data['output'];
                    $('cliOutput').style.height = "300px";
                }
            },
            onFailure: function(response) {
                alert("Could not contact device!!!");
                console.log(response);
                //alert(response);
            },
            onComplete: function(response) {
                doc.style.cursor = '';
            }
        });
    }



    /* UI related function */
    var currentSelection = "None";

    function deleteSelectedObject() {
        var so = $F('selectedObject');
        if (so != 0) {
            var figure = canvas.getFigure(so);
            if (figure == null) {
                console.log('deleting line');
                figure  = canvas.getLine(so);
            } 
            if (figure.NAME == "draw2d.shape.node.externalCloudIcon") {
                externalCloudAdded = false;
            }
            canvas.removeFigure(figure);
            $('selectedObject').value = "0";
        }
    }

    function hideAllEditors() {
        manuallyTogglePanel('jsonDebug', 'none');
        manuallyTogglePanel('junosIconEditor', 'none');
        manuallyTogglePanel('connectionEditor', 'none');
        manuallyTogglePanel('labelEditor', 'none');
    }

    function hideSelection() {
        hideAllEditors();
        currentSelection = "None";
    }
    
    function showDebug() {
        hideAllEditors();
        manuallyTogglePanel('jsonDebug', '');
        currentSelection = "debug";
	    exportJson();
	    $('debug').value = "";
	    $('debug').value = $('json').value;
    }

    function showConfigSetEditor() {
        manuallyTogglePanel('configSetCreateForm', '');
        manuallyTogglePanel('configSetCreateRow', 'none');
    }

    function showTopoEditor() {
        manuallyTogglePanel('topoEditorForm', '');
        manuallyTogglePanel('topoInfo', 'none');
    }

    function importJson() {
        $('json').value = $('debug').value;
        loadTopology();
    }

    function setSelectedObject(objectId) {
        console.log(objectId);
        $('selectedObject').value = objectId;
    }

    function manuallyTogglePanel(el, v) {
        if(v == "none") {
            if($(el).style.display == 'none') {
                return;
            }
            $(el).style.display = 'none';

        } else {
            if($(el).style.display == '') {
                return;
            }
            $(el).style.display = '';
        }
    }

    function loadJunosIconEditor(figureId) {

        console.log(figureId);
        //changed from selectedConnection ?
        $('selectedObject').value = figureId;
        var instance = canvas.getFigure(figureId);

        $('junosIconName').value = instance.getLabel();
        $('junosIconIp').value = instance.getIp();
        $('junosIconPass').value = instance.getPassword();
        $('junosIconCpu').value = instance.getCpu();
        $('junosIconRam').value = instance.getRam();

        // clear the cli output      
        $('cliOutput').value = "";
        $('cliOutput').style.height = "";
 
        var port = instance.getPorts().get(0);
        
        var connections = port.getConnections();

        $('junosIconNeighbors').innerHTML = "";

        for (c=0;c<connections.size;c++) {
            var connection = connections.get(c);

            var sourcePort = connection.getSource();
            var targetPort = connection.getTarget();
           
            var neighbor = "ge-0/0/" + c; 

            if (sourcePort.getId() != port.getId()) {
                neighbor = neighbor + "   :   " + sourcePort.getParent().getLabel(); 
            } else {
                neighbor = neighbor + "   :   " + targetPort.getParent().getLabel(); 
            }

            $('junosIconNeighbors').innerHTML = $('junosIconNeighbors').innerHTML + neighbor + "<br/>";

        }
        if (currentSelection !== "junosIconEditor") {
            hideAllEditors();
            manuallyTogglePanel('junosIconEditor', '');
            currentSelection = "junosIconEditor";
        }

    }

    function updateJunosIcon() {
        var instance = canvas.getFigure($F('selectedObject'));

        instance.setIp($F('junosIconIp'));
        instance.setLabel($F('junosIconName'));
        instance.setPassword($F('junosIconPass'));

        instance.repaint();
        
    }

    function loadLabelEditor(figureId) {
        if (currentSelection !== "labelEditor") {
            hideAllEditors();
            manuallyTogglePanel('labelEditor', '');
            currentSelection = "labelEditor";
        }
        p = canvas.getFigure(figureId);
        $('selectedLabel').value = figureId;
        $('labelText').value = p.getText();
        $('labelFontSize').value = p.fontSize;
    }

    function updateLabel() {
        l = canvas.getFigure($('selectedLabel').value);
        l.setText($('labelText').value);
        l.setFontSize($('labelFontSize').value);
    }

    // fixme - this will be broken for anything other than vmx
    function loadConnectionEditor(figureId) {
        var connection = canvas.getLine(figureId);
        var sourcePort = connection.getSource();
        var targetPort = connection.getTarget();

        targetConns = targetPort.getConnections();
        sourceConns = sourcePort.getConnections();

        var sourceIndex = 0;
        var targetIndex = 0;

        for(s=0;s<sourceConns.size;s++) {
            sc = sourceConns.get(s);
            console.log(sc.id);
            if(sc.id == figureId) {
                sourceIndex = s;
                break;
            }
        }
        
        for(t=0;t<targetConns.size;t++) {
            tc = targetConns.get(t);
            console.log(tc.id);
            if(tc.id == figureId) {
                targetIndex = t;
                break;
            }
        }
        // do the right this if we are connected to an external Bridge
        if (targetPort.getParent().NAME == "draw2d.shape.node.externalCloudIcon") {
            $('connectionTargetDevice').innerHTML = targetPort.getParent().getLabel();
            $('connectionTargetIp').value = "0.0.0.0";
            $('connectionTargetPortIp').value = "0.0.0.0";
        } else {
            $('connectionTargetDevice').innerHTML = targetPort.getParent().getLabel() + " ge-0/0/" + targetIndex;
            $('connectionTargetIp').value = targetPort.getParent().getIp();
            $('connectionTargetPw').value = targetPort.getParent().getPassword();
            $('connectionTargetIface').value = "ge-0/0/" + targetIndex;
            $('connectionTargetPortIp').value = "";
        }

        if (sourcePort.getParent().NAME == "draw2d.shape.node.externalCloudIcon") {

            $('connectionSourceDevice').innerHTML = sourcePort.getParent().getLabel();
            $('connectionSourceIp').value = "0.0.0.0";
            $('connectionSourcePortIp').value = "0.0.0.0";
        } else {
            $('connectionSourceDevice').innerHTML = sourcePort.getParent().getLabel() + " ge-0/0/" + sourceIndex;
            $('connectionSourceIp').value = sourcePort.getParent().getIp();
            $('connectionSourcePw').value = sourcePort.getParent().getPassword();
            $('connectionSourceIface').value = "ge-0/0/" + sourceIndex;
            $('connectionSourcePortIp').value = "";
        }

        var connData = connection.getUserData();
        if (connData != null) {
            $('connectionSourcePortIp').value = connData["sourceIp"];
            $('connectionTargetPortIp').value = connData["targetIp"];
        }

        if (currentSelection !== "connectionEditor") {
            hideAllEditors();
            manuallyTogglePanel('connectionEditor', '');
            currentSelection = "connectionEditor";
        }

        $('selectedConnection').value = figureId;
    }

    function saveConnectionData() {
        var connId = $F('selectedConnection');
        var sIp = $F('connectionSourcePortIp');
        var tIp = $F('connectionTargetPortIp');
        var connData = {
            "sourceIp": sIp,
            "targetIp": tIp
        };
        var connection = canvas.getLine(connId);
        connection.setUserData(connData);
        console.log("saved info on connection Object");
    }

    function addLabel() {
        var label = $F('newLabel');
        var labelSize = $F('newLabelFontSize');
        var l = new draw2d.shape.basic.Label(label);
        // l.setBackgroundColor();
        l.setFontColor("#000000");
        l.setFontSize(labelSize);
        l.setStroke("0");
        lastX += 50;
        lastY += 50;
        canvas.addFigure(l, lastX, lastY);
    }

    function addExternalCloud() {
        if (externalCloudAdded == false) {
            var c = new draw2d.shape.node.externalCloudIcon();
            canvas.addFigure(c, 385, 15);
            externalCloudAdded = true;
        } else {
            alert("You may only add one external connection!");
            return false;
        }
    }

    // are we editing an existing topology?
    function isNewTopology() {
        {% if topo_id != None %}
        return false;
        {% else %}
        return true;
        {% endif %}
    }

    Event.observe(window, 'load', function() {
        window.canvas = new draw2d.Canvas("gfx_holder", true);
	    canvas.installEditPolicy(new draw2d.policy.canvas.FadeoutDecorationPolicy());
        canvas.installEditPolicy(new draw2d.policy.canvas.SnapToGeometryEditPolicy(10));
        canvas.addSelectionListener(new topologySelectionListener());
        {% if topo.name != None %}
            {% if topo.id != 0 %}
            refreshDeploymentStatus();
            {% endif %}
        loadTopology();
        {% endif %}
    });
    </script>
{% endblock %}
{% block content %}
    <table border="0" style="border: 1px solid #000">
      <tr>
        <td id="topoFormContainer" style="vertical-align: top">
          <form method="post" id="topoForm" name="topoForm" 
            action="{% url 'topologies:create' %}" method="POST">
            {% csrf_token %}
            <table>
            {% if topo_id != None %}
             <tbody id="topoEditorForm" style="display: none">
            {% else %}
             <tbody id="topoEditorForm">
            {% endif %}
              <tr>
                <td>
                  Name
                </td>
                <td>
                  <input type="text" size="30" maxsize="30" name="name" id="name" value="{{ topo.name }}"/>
                  <input type="hidden" name="json" id="json" value="{{ topo.json }}"/>
                  <input type="hidden" id="selectedObject" value="0">
                </td>
              </tr>
              <tr>
                <td>
                  Description
                </td>
                <td>
                  <textarea rows="3" id="description" name="description">{{ topo.description }}</textarea>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  {% if topo_id != None %}
                  &nbsp;
                  <input type="hidden" name="id" id="topoId" value="{{ topo.id}}"/>
                  <input type="button" name="submit_button" id="submit_button" 
                    value="Update" onclick="javascript: updateTopology();"/>
                  {% else %}
                  <input type="button" name="submit_button" id="submit_button" 
                    value="Save" onclick="javascript: saveTopology();"/>
                  {% endif %}
                  <!--
                  <input type="button" name="debugButton" id="debugButton" 
                    value="Debug" onclick="javascript: showDebug();"/>
                  -->
                </td>
              </tr>
             </tbody>
            {% if topo_id != None %}
             <tbody id="topoInfo">
            {% else %}
             <tbody id="topoInfo" style="display: none">
            {% endif %}
              <tr>
                <th colspan="2">
                  Topology Details
                </th>
              </tr>
              <tr>
                <td>
                  Name:
                </td>
                <td>
                  {{ topo.name }}
                </td>
              </tr>
              <tr>
                <td>
                  Description:
                </td>
                <td>
                  {{ topo.description }}
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input type="button" name="showTopoEditorButton" id="showTopoEditorButton" 
                    value="Edit" onclick="javascript: showTopoEditor();"/>
                  &nbsp;
                  <input type="button" name="delete_button" id="delete_button" 
                    value="Delete" onclick="javascript: deleteTopology();"/>
                  &nbsp;
                  <input type="button" name="clone_button" id="clone_button" 
                    value="Clone" onclick="javascript: cloneTopology();"/>
                  &nbsp;
                </td>
              </tr>
             </tbody>
            </table>
          </form>
          {% if topo_id != None %}
          <div id="addInstanceForm" style="display: none">
          {% else %}
          <div id="addInstanceForm">
          {% endif %}
            <br/>
            <h3>Add Instance</h3>
            <table>
              <tr>
                <td>
                  IP Address
                </td>
                <td>
                  <input type="text" size="15" maxsize="15" name="topoIconIp" id="topoIconIp" value=""/>
                </td>
              </tr>
              <tr>
                <td>
                  Root Password
                </td>
                <td>
                  <input type="text" size="15" maxsize="15"
                    name="topoIconPass" id="topoIconPass" value="" 
                    onblur="javascript: checkPass(this.value);"/> 
                </td>
              </tr>
              <tr>
                <td>
                  Instance Name
                </td>
                <td>
                  <input type="text" size="15" maxsize="15" name="topoIconName" id="topoIconName" value=""/>
                </td>
              </tr>
              <tr>
                <td>
                  Base Image
                </td>
                <td>
                  <select name="topoIconImageSelect" id="topoIconImageSelect" onchange="javascript: setImageType();">
                    <option value="0">Choose Image</option>
                    <!-- not a better way to do this? -->
                    {% for i in image_list %}
                    <option value="{{ i.id }}:{{i.type}}">{{ i.name }}</option>
                    {% endfor %}
                  </select>
                  <input type="hidden" name="topoIconType" id="topoIconType" value=""/>
                  <input type="hidden" name="topoIconImage" id="topoIconImage" value=""/>
                </td>
              </tr>
              <tr>
                <td>
                  vCPU
                </td>
                <td>
                  <select name="topoIconCpu" id="topoIconCpu">
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="4">4</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  vRAM
                </td>
                <td>
                  <select name="topoIconRam" id="topoIconRam">
                    <option value="512">512</option>
                    <option value="768">768</option>
                    <option value="1024">1024</option>
                    <option value="2048" selected>2048</option>
                    <option value="4096">4096</option>
                    <option value="8192">8192</option>
                    <option value="16384">16384</option>
                  </select> MB
                </td>
              </tr>
              <tr>
                <td>
              <tr>
                <td>
                  Icon
                </td>
                <td>
                  <select name="topoIconIcon" id="topoIconIcon">
                    <option value="mx_large:50:60">MX Large</option>
                    <option value="mx_small:50:40">MX Small</option>
                    <option value="firefly:40:40">Firefly</option>
                    <option value="router:40:40">Generic Router</option>
                    <option value="server:25:50">Generic Server</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input type="button" onclick="javascript: addIcon();" value="Add Instance"/>
                </td>
              </tr>
            </table>
            <br/>
            <h3>Add Object</h3>
            <table>
              <tr>
                <td>
                  External Access:
                </td>
                <td>
                  <input type="button" value="Add External Bridge" title="Add br0" onclick="javascript: addExternalCloud()"/>
                </td>
              </tr>
            </table>
            <br/>
            <h3>Add Label</h3>
            <table>
              <tr>
                <td>
                  Text:
                </td>
                <td>
                  <input type="text" id="newLabel"/>
                </td>
              </tr>
              <tr>
                <td>
                  Font Size:
                </td>
                <td>
                  <select id="newLabelFontSize">
                    <option value="8">8</option>
                    <option value="10">10</option>
                    <option value="12">12</option>
                    <option value="14">14</option>
                    <option value="16" selected>16</option>
                    <option value="18">18</option>
                    <option value="20">20</option>
                    <option value="22">22</option>
                    <option value="24">24</option>
                    <option value="26">26</option>
                    <option value="28">28</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="48">48</option>
                  </select>
                </td>
                </tr>
              <tr>
                <td colspan="2">
                  <input type="button" value="Add Label" onclick="javascript: addLabel()"/>
                </td>
              </tr>
            </table>
            <br/>
            <h3>Tools</h3>
            <table>
              <tr>
                <td>
                  Delete Object:
                </td>
                <td>
                  <input type="button" value="Delete" title="Remove selected Object from Topology" onclick="javascript: deleteSelectedObject()"/>
                </td>
              </tr>
            </table>
          </div>
          <div id="junosIconEditor" style="display:none">
            <table>
              <th colspan="2">
                 Instance Details
              </th>
              <tr>
                <td>
                   Name
                </td>
                <td>
                  <input type="text" disabled="true" name="junosIconName" id="junosIconName" value=""/>
                </td>
              </tr>
              <tr>
                <td>
                   IP Address
                </td>
                <td>
                  <input type="text" disabled="true" name="junosIconIp" id="junosIconIp" value=""/>
                </td>
              </tr>
              <tr>
                <td>
                   Root Password
                </td>
                <td>
                  <input type="text" disabled="true"
                    name="junosIconPass" id="junosIconPass" value=""/>
                </td>
              </tr>
              <tr>
                <td>
                   vCPU
                </td>
                <td>
                  <input type="text" disabled="true"
                    name="junosIconCPU" id="junosIconCpu" value="2"/>
                </td>   
              </tr>
              <tr>
                <td>
                  vRAM 
                </td>
                <td>
                  <input type="text" disabled="true"
                    name="junosIconRam" id="junosIconRam" value="2"/>
                </td>   
              </tr>
              <tr>
                <td>
                  Neighbors
                </td>
                <td>
                  <div id="junosIconNeighbors"></div>
                </td>
              </tr>
            </table>
            <table>
              <th colspan="2">
                 Execute cli
              </th>
              <tr>
                <td>
                  <input type="text" id="cli" value="show interface terse"/>
                </td>
                <td>
                  <input type="button" onclick="javascript: executeCli();" value="Go">
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <textarea id="cliOutput" rows="1"></textarea>
                </td>
              </tr>
            </table>
          </div>
          <div id="labelEditor" style="display: none;">
            <table>
              <th colspan="2">
                 Edit Label
              </th>
              <tr>
                <td>
                  <input type="hidden" id="selectedLabel" value="0">
                  Text: 
                </td>
                <td>
                  <input type="text" id="labelText" value="na">
               </td>
             </tr>
             <tr>
               <td>
                Size:
                </td>
                <td>
                  <select id="labelFontSize">
                    <option value="8">8</option>
                    <option value="10" selected>10</option>
                    <option value="12">12</option>
                    <option value="14">14</option>
                    <option value="16">16</option>
                    <option value="18">18</option>
                    <option value="20">20</option>
                    <option value="22">22</option>
                    <option value="24">24</option>
                    <option value="26">26</option>
                    <option value="28">28</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="48">48</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input type="button" value="Update" onclick="javascript: updateLabel();"/>
                </td>
              </tr>
            </table>
          </div>
          <div id="connectionEditor" style="display: none;">
            <table>
              <th colspan="2">
                 Edit Connection
              </th>
              <tr>
                <td colspan="2">
                  <input type="hidden" id="selectedConnection" value="0">
                  <input type="hidden" id="connectionSourceIp" value="0">
                  <input type="hidden" id="connectionTargetIp" value="0">
                  <input type="hidden" id="connectionSourceIface" value="0">
                  <input type="hidden" id="connectionTargetIface" value="0">
                  <input type="hidden" id="connectionSourcePw" value="0">
                  <input type="hidden" id="connectionTargetPw" value="0">
                </td>
              </tr>
              <tr>
                <td>
                  Source Device:
                </td>
                <td>
                  <div style="display: inline;" id="connectionSourceDevice"></div>
                </td>
              </tr>
              <tr>
                <td>
                  Source IP Address:
                </td>
                <td>
                  <input type="text" onblur="javascript: saveConnectionData();"  id="connectionSourcePortIp">
                </td>
              </tr>
              <tr>
                <td>
                  Target Device:
                </td>
                <td>
                  <div style="display: inline;" id="connectionTargetDevice"></div>
                </td>
              </tr>
              <tr>
                <td>
                  Target IP Address:
                </td>
                <td>
                  <input type="text" onblur="javascript: saveConnectionData();" id="connectionTargetPortIp">
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input type="button" onclick="javascript: syncLinkData();" value="Sync Link Data">
                </td>
              </tr>
            </table>
          </div>
          <div id="jsonDebug" style="display: none;">
            <table>
              <th>
                 Debug Panel
              </th>
              <tr>
                <td>
                  <textarea id="debug" cols="1" rows="5"></textarea>
                </td>
              </tr>
            </table>
          </div>
          <div id="deploymentStatus"></div>
          {% if topo_id != None %}
          <div id="configSets">
            <form method="post" id="configSetForm" name="configSetForm" action="{% url 'topologies:createConfigSet' %}" method="POST">
            {% csrf_token %}
            <table>
              <tbody id="configSetCreateForm" style="display: none">
              <tr>
                <th colspan="3">
                  Config Sets
                </th>
              </tr>
              <tr>
                <td>
                  Name
                </td>
                <td colspan="2">
                  <input type="text" size="30" maxsize="30" name="name" id="configSetName" value="New Config Set"/>
                  <input type="hidden" id="selectedObject" value="0">
                </td>
              </tr>
              <tr>
                <td>
                  Description
                </td>
                <td colspan="2">
                  <textarea rows="3" id="configSetDescription" name="description">Base Config</textarea>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <input type="hidden" name="topoId" id="configSetTopoId" value="{{ topo.id}}"/>
                  <input type="button" name="configSet_create_button" id="configSet_create_button"
                    value="Save" onclick="javascript: createConfigSet();"/>
                </td>
              </tr>
              </tbody>
              <tbody>
              <tr>
                <th colspan="3"> Saved Config Sets </th>
              </tr>
              {% for c in configSets %}
              <tr>
                <td>
                  {{ c.name }} 
                </td>
                <td>
                  {{ c.description}} 
                </td>
                <td>
                  <a href="#" onclick="javascript: pushConfigSet({{ c.id }})">Push</a>
                  &nbsp;
                  <a href="#" onclick="javascript: deleteConfigSet({{ c.id }})">Delete</a>
                </td>
              </tr>
              {% endfor %}
              </tbody>
              <tbody id="configSetCreateRow">
                <tr>
                  <td colspan="3">
                    <input type="button" name="configSet_editor_button" id="configSet_editor_button"
                    value="Create" onclick="javascript: showConfigSetEditor();"/>
                  </td>
                 </tr>
              </tbody>
            </table>
            </form>
          </div>
          {% endif %}
        </td>
        <td style="vertical-align: top">
          <div id="gfx_holder" style="background-image: url({% static "images/grid.png" %}); 
            background-repeat: repeat; 
            width:900px; 
            height:650px; 
            position:relative; 
            border: 1px solid #000">
          </div>
          <div id="jsonLayout" style="display: none;">{{ topology.json }}</div>
          <div id="toolsMenu" style="width: 900px; padding-top: 4px;">
          </div>
        </td>
      </tr>
    </table>
{% endblock %}
