
{% extends "base.html" %}
{% block content %}
<h2>Encountered an Error</h2>

{{ error_message }}

<br/>
<br/>
<br/>
<br/>
<p>How can I get help for this error?</p>
You can post a question to the Wistar <a href="https://junipernetworks.sharepoint.com/sites/open1/wistar/SitePages/Community%20Home.aspx">Community Site</a>.
Please include the last 20 of so lines of output from the start_wistar.py script.
<br/>
<br/>
You can also email <a href="mailto:nembery@juniper.net">nembery@juniper.net</a> with the details of this error.

{% endblock %}
