
{% extends "base.html" %}
{% block title %}Wistar - Lab Rat - Edit Topology {% endblock %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <!--  <script type="text/javascript" src="{% static 'js/jquery.layout.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'js/jquery.autoresize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-touch_punch.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.contextmenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/patched_raphael.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/rgbcolor.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/patched_canvg.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/patched_Class.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/json2.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/pathfinding-browser.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/StackBlur.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/shifty.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/draw2d.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'js/draw2d_core.js' %}"></script> -->

    <script type="text/javascript" src="{% static 'js/vm_types/wistarVm.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vm_types/wistarStandalone.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vm_types/wistarSetParent.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vm_types/wistarSetChild.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/vm_types/generic.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vm_types/linux.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vm_types/ubuntu16.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/vm_types/space.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vm_types/vmx.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vm_types/vsrx.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vm_types/vre.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vm_types/vpfe.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vm_types/vriot.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/vm_types/vqfxRe.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vm_types/vqfxCosim.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vm_types/cloud.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/topologySelectionListener.js' %}"></script>

    <script type="text/javascript">
    var canvas;
    var lastX = -50;
    var lastY = 25;

    var vmxCount = 1;
    var instanceArray = []

    // shortcut for debugging purposes
    // open debug panel and examine s to see currently selected object
    var s = "";

    // keep track of how many icons we've added to the canvas
    // perform simple wrapping if above 10
    var iconWrapLimit = 5;
    var iconCount = 0;
    var iconOffset = 135;

    var internalCloudCounter = 0;
    var externalCloudCounter = 0;

    var selectedObject;

    var vm_types = $.parseJSON('{{ vm_types|safe }}');

    var images = $.parseJSON('{{ image_list_json|safe }}');

    var allocated_ips = $.parseJSON('{{ allocated_ips|safe }}');

    // check if an IP address is currently available
    function checkIp() {
        var ip = jQuery('#topoIconIp').val();

        if (! ip.match('^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$')) {
            alert('IP format is not valid!');
            return False;
        }

        var url = "/ajax/checkIp/";

        var params = {
            'ip' : ip
        };

        var success = function(response) {
            data = eval(response);

            if (data["result"] == false) {
                console.log("ip is not currently pingable");
            } else {
                alert("IP Address " + ip + " is already in use!");
            }
        };

        jQuery.post(url, params, success);
    }

    // get next available ip
    // FIXME - does not try to wrap around subnets
    // FIXME - always assume KVM default subnet
    // FIXME - doesn't account for IPs used in this topology already!
    function nextIpOLD() {
        alert(allocated_ips);
        var ipBox = jQuery('#topoIconIp');
        var ip = ipBox.val();

        var octets = ip.split('.');

        // a little magic number safety
        if (octets.length != 4) {
            default_octets = '{{ configuration.management_prefix }}'.split('.');
            d = default_octets;
            octets = [d[0], d[1], d[2], ''];
        }

        var url = "/ajax/nextIp/";

        var success = function(response) {
            data = eval(response);

            if (data["result"] == false) {
                console.log("ip is not currently pingable");
            } else {
                octets[3] = data["result"];
                ipBox.val(octets.join('.'));
            }
        };

        jQuery.get(url, success);
    }

    var ip_floor = 2;

    function nextIp() {
        console.log('ip_floor is ' + ip_floor);

        for(i=ip_floor;i<255;i++) {
            if ($.inArray(i, allocated_ips) < 0) {
                ip_floor = i + 1;
                return '{{ global_config.management_prefix }}' + i;
            } else {
                console.log(i + ' is taken');
            }
        }
    }

    // convenience func to increment icon name if it happens to end
    // in a digit
    function incrementIconName(name) {
        var last = name.substr(-1);
        var lastInt = parseInt(last);
        if (last == "9") {
            var lastTwo = name.substr(-2);
            var lastTwoInt = parseInt(lastTwo);
            if (! isNaN(lastTwoInt)) {
                return name.substring(0, name.length -2) + (lastTwoInt + 1);
            } else {
                // last two are not an int, check for single digit suffix
                if (! isNaN(lastInt)) {
                    return name.substring(0, name.length -1) + (lastInt + 1);
                } else {
                    return name + "2";
                }
            }
        } else {
            if (! isNaN(lastInt)) {
                return name.substring(0, name.length -1) + (lastInt + 1);
            } else {
                return name + "2";
            }
        }
    }

    function addIconAndClose() {
        rv = addIcon();
        if (rv == true) {
            hideOverlay('#add_vm_form');
        }
    }

    // add icon to the topology with the indicated values
    function addIcon() {
    	var ip = nextIp();
    	var user = jQuery('#topoIconUser').val();
    	var pw = jQuery('#topoIconPass').val();
    	var name = jQuery('#topoIconName').val();
    	var type = jQuery('#topoIconType').val();
    	var image = jQuery('#topoIconImage').val();
    	var cpu = jQuery('#topoIconCpu').val();
    	var ram = jQuery('#topoIconRam').val();
    	//var iconData = jQuery('#topoIconIcon').val();

        if (image == 0) {
            alert('Please select a valid image');
            return false;
        }
    	var scriptId = jQuery('#topoIconScriptSelect').val();
    	var scriptParam = jQuery('#topoIconScriptParam').val();

    	var vpfe_image = jQuery('#topoIconImageVFPCSelect').val();

        // enforce names always end with a digit
        console.log(name);
        var last = name.substr(-1);
        console.log(last);
        var lastInt = parseInt(last);
        console.log(lastInt);
        if (isNaN(lastInt)) {
            alert('Name must end in a digit');
            if (name.length > 6) {
                name = name.slice(0,6);
            }
            jQuery('#topoIconName').val(name + "1");
            jQuery('#topoIconName').focus();
            return false;
        }

        if (name == "") {
            alert("Please add a valid instance name");
            return false;
        }

        var icon;

        vm_type_data = {};
        for (v=0;v<vm_types.length;v++) {
            vm_type = vm_types[v];
            if (vm_type.name == type) {
                vm_type_data = vm_type;
                break;
            }
        }
        console.log(vm_type_data);

        icon = eval("new " + vm_type_data.js + "()" );

        // Should the user have selected a companion image?
        if (icon.getCompanionType() != "") {
            // yes, did they?
        	if (vpfe_image == 0) {
        	    // uh-oh!
                alert('Please select a Companion Image before continuing!');
                return false;
            }
        }

        // simple algorithm to add icons to the screen without overlapping
    	lastX += 100;
    	lastY += 0;
    	vmxCount += 1;
    	iconCount += 1;

    	if (iconCount > iconWrapLimit) {
    	    lastX = 50;
    	    lastY = iconOffset;
    	    iconCount = 1;
    	    iconOffset += 110;
    	}

        console.log(icon);
        icon.setup(type, name, ip, user, pw, image);

        icon.setCpu(cpu);
        icon.setRam(ram);

	    if (icon.getSecondaryDiskParams() != "") {
	        var params = icon.getSecondaryDiskParams();
	        var type = params["type"];
	        if (type == "image") {
                params["image_id"] = jQuery('#topoIconSecondaryDisk').val();
                icon.setSecondaryDiskParams(params);
            }
	    }

	    if (icon.getCompanionType() != "") {

	        var vpfe_cpu = jQuery('#topoIconVFPCCpu').val();
    	    var vpfe_ram = jQuery('#topoIconVFPCRam').val();

            var vpfe = eval("new " + icon.COMPANION_TYPE + "()" );

            vpfe_ip = nextIp();
            vm_type_data = {};
            for (v=0;v<vm_types.length;v++) {
                vm_type = vm_types[v];
                if (vm_type.js == icon.COMPANION_TYPE) {
                    vpfe_type = vm_type.name
                    break;
                }
            }

            vpfe.setup(vpfe_type, name, vpfe_ip, user, pw, vpfe_image);

            vpfe.setCpu(vpfe_cpu);
            vpfe.setRam(vpfe_ram);
            // bind them together here!

            if (typeof vpfe.setParentId != 'undefined') {
                console.log("vpfe is actually a child!");
                console.log(vpfe.NAME);
                vpfe.setParentId(icon.getId());
                icon.setChildId(vpfe.getId());

                canvas.add(vpfe, lastX, lastY + 15);
            } else {
                alert("Companion Doesn't appear to be a valid companion image type!");
                return false;
            }

            canvas.add(icon, lastX, lastY);

            figures = new draw2d.util.ArrayList([icon, vpfe]);
            var cg = new draw2d.command.CommandGroup(canvas, figures);
            cg.execute();

            // work around, ports are being drawn as hidden until they are clicked!
            vpfe.getPorts().first().toFront();

	    } else {
	        canvas.add(icon, lastX, lastY);
	    }

        // let's try to increment everything nicely
    	// jQuery('#topoIconIp').val(incrementIconIp(ip));
    	jQuery('#topoIconName').val(incrementIconName(name));

    	jQuery('#topoIconScriptSelect').val(0);
    	jQuery('#topoIconScriptParam').val(0);

    	// jQuery('#topoIconImageVFPCSelect').val(0);

    	return true;
    }

    function addLabel() {

        var label = jQuery('#newLabel').val();
        var labelSize = jQuery('#newLabelFontSize').val();
        var l = new draw2d.shape.basic.Label({ text: label });
        // l.setBackgroundColor();
        l.setFontColor("#000000");
        l.setFontSize(labelSize);
        l.setStroke(0);

        // simple algorithm to add icons to the screen without overlapping
        lastX += 100;
        lastY += 0;
        iconCount += 1;

        if (iconCount > iconWrapLimit) {
            lastX = 50;
            lastY = iconOffset;
            iconCount = 1;
            iconOffset += 110;
        }
        canvas.add(l, lastX, lastY);
    }

    // export topology as JSON and stuff it back in the
    // json div element for later retrieval and storage
    function exportJson() {
        // Create a JSON writer and convert it into a JSON-String representation.

    	var writer = new draw2d.io.json.Writer();

        writer.marshal(canvas, function(json) {
            // convert the json object into string representation
            var jsonTxt = JSON.stringify(json, null, 2);
            // insert the json string into a DIV for preview or post
            // it via ajax to the server....
            jQuery("#json").val(jsonTxt);
        });
    }

    // export and submit form
    function updateTopology() {
        alert('You may need to redeploy this topology after this update!');
	    exportJson();
	    jQuery('#topoForm').submit();
    }

    // export and submit form
    function updateDebug() {
	    jQuery('#json').val(jQuery('#debug').val());
	    jQuery('#topoForm').submit();
    }

    // export and submit form
    function saveTopology() {
	    exportJson();
	    jQuery('#topoForm').submit();
    }

    // simple validation against Junos password rules
    function checkPass(pw) {
        if(pw != "") {
            upper = pw.match('[A-Z]');
            lower = pw.match('[a-z]');
            digit = pw.match('[0-9]');

            if (upper && lower && digit) {
                console.log('password accepted');
            } else {
                alert('Password does not meet complexity requirements');
            }
        } else {
                alert('Password is required');
        }

    }

    // breaks up image type string into data members and sets on the icon
    function setImageType() {
        id = jQuery('#topoIconImageSelect').val().split(':')[0]
        type = jQuery('#topoIconImageSelect').val().split(':')[1]
        console.log("Setting image to " + id + " and type to " + type);
        jQuery('#topoIconType').val(type);
        jQuery('#topoIconImage').val(id);

        // by default, let's hide some things
        jQuery('#addInstanceTbodyCloudInit').css("display", "none");
        jQuery('#addInstanceTbodyVFPC').css("display", "none");
        jQuery('#addInstanceTbodySecondaryDisk').css("display", "none");
        //jQuery('#addInstanceTbodyTertiaryDisk').css("display", "none");

        for (v=0;v<vm_types.length;v++) {
            vm_type = vm_types[v];
            if (vm_type.name == type) {

                var icon = eval("new " + vm_type.js + "()" );

                console.log(icon);

                jQuery('#topoIconCpu').val(icon.VCPU);
                jQuery('#topoIconRam').val(icon.VRAM);

                // FIXME - we may actually never have a need for 'image' selectable types again!
                // just generate the disks images we need!
                if (icon.getSecondaryDiskParams() != "") {
                    var params = icon.getSecondaryDiskParams();
                    type = params["type"];
                    if (type == "image") {
                        filter = params["filter"];
                        jQuery('#addInstanceTbodySecondaryDisk').css("display", "");
                        filterCompanionSelect(filter, "topoIconSecondaryDisk");
                    }
                }

                if (icon.getTertiaryDiskParams() != "") {
                    var params = icon.getTertiaryDiskParams();
                    var type = params["type"];
                    if (type == "image") {
                        filter = params["filter"];
                        jQuery('#addInstanceTbodyTertiaryDisk').css("display", "");
                        filterCompanionSelect(filter, "topoIconTertiaryDisk");
                    }
                }

                if (typeof icon.setChildId != "undefined") {
                    jQuery('#addInstanceTbodyVFPC').css("display", "");
                    filterCompanionSelect(icon.COMPANION_NAME_FILTER, "topoIconImageVFPCSelect");
                }

                if (icon.CLOUD_INIT_SUPPORT) {
                    jQuery('#addInstanceTbodyCloudInit').css("display", "");
                }
            }
        }
    }

    function filterCompanionSelect(filter_string, select_name) {
        var companion_select = jQuery('#' + select_name);
        companion_select.empty();
        companion_select.append('<option value="0">None</option>');
        for (index in images) {
            var image_name = images[index]["fields"]["name"];
            var image_id = images[index]["pk"];
            if (image_name.match(filter_string)) {
                companion_select.append('<option value="' + image_id + '">' + image_name + '</option>');
            }
        }
    }

    function setCompanionParams(o) {
        var companion_image = jQuery('#topoIconImageVFPCSelect').val();
        console.log(companion_image);
        var companion_type = "blank";
        for(i=0;i<images.length;i++) {

            if(images[i]["pk"] == companion_image) {
                companion_type = images[i]["fields"]["type"];
                console.log('found it');
                console.log(companion_type);
                break;
            }
        }

        for (v=0;v<vm_types.length;v++) {
            vm_type = vm_types[v];
            console.log(vm_type.name);
            if (vm_type.name == companion_type) {
                console.log('found it');
                var companion = eval("new " + vm_type.js + "()");
                var cpu = companion.VCPU;
                var ram = companion.VRAM;
                console.log(cpu);
                jQuery('#topoIconVFPCCpu').val(cpu);
                jQuery('#topoIconVFPCRam').val(ram);
                break;
            }
        }
    }

    function showOverlay(overlay_id) {
        var sf = jQuery(overlay_id);
        sf.addClass("screen-overlay");
        sf.css("display", "");
    }

    function hideOverlay(overlay_id) {
        var sf = jQuery(overlay_id);
        sf.removeClass("screen-overlay");
        sf.css("display", "none");
    }

    function closeOverlay() {
        var cto = jQuery('#overlay');
        cto.empty();
        cto.removeClass("screen-overlay");
        cto.remove();
    }

    function simpleAjaxRequest(url, params, successMessage) {
        var doc = jQuery(document.documentElement);
        doc.css('cursor', 'progress');

        var post = jQuery.post(url, params, function(response) {
            data = eval(response);
            if (data["result"] == false || data["result"] == "false") {
                if(data["message"] != undefined) {
                    alert(data['message']);
                } else {
                    alert('Could not complete request');
                }
            } else {
                    alert(successMessage);
            }
        });

        post.fail(function() {
            alert('Could not perform request!');
        });

        post.always(function() {
            doc.css('cursor', '');
        });
    }

    /* UI related function */
    var currentSelection = "None";

    function deleteLabel() {

        // grab the selected object id
        // this is always kept in a hidden form field for easy retrieval
        var so = jQuery('#selectedObject').val();

        // make sure it's not blank!
        if (so != 0) {
            var figure = canvas.getFigure(so);
            if (figure.NAME == "draw2d.shape.basic.Label") {
                canvas.remove(figure);
                jQuery('#selectedObject').val("0");
            }
        }
    }

    function hideAllEditors() {
        manuallyTogglePanel('jsonDebug', 'none');
        manuallyTogglePanel('junosIconEditor', 'none');
        manuallyTogglePanel('linuxIconEditor', 'none');
        manuallyTogglePanel('connectionEditor', 'none');
        manuallyTogglePanel('labelEditor', 'none');
    }

    function hideSelection() {
        hideAllEditors();
        currentSelection = "None";
    }

    function showDebug() {
        currentSelection = "debug";
	    exportJson();
	    jQuery('#debug').val("");
	    jQuery('#debug').val(jQuery('#json').val());
        showOverlay('#jsonDebug');
    }

    function showTopoEditor() {
        manuallyTogglePanel('topoEditorForm', '');
        manuallyTogglePanel('topoInfo', 'none');
    }

    function setSelectedObject(objectId) {
        console.log("setting s to: " + objectId);
        s = canvas.getFigure(objectId);
        if (s == null) {
            s = canvas.getLine(objectId);
        }
        jQuery('#selectedObject').val(objectId);
        selectedObject = s;

    }

    function manuallyTogglePanel(el, v) {
        var sel = '#' + el;
        if(v == "none") {
            if(jQuery(sel).css("display") == 'none' || jQuery(sel).css("display") == undefined) {
                return;
            }
            jQuery(sel).css("display", "none");

        } else {
            jQuery(sel).css("display", "block");
        }
    }

    function updateJunosIcon() {
        var instance = canvas.getFigure(jQuery('#selectedObject').val());

        instance.setIp(jQuery('#junosIconIp').val());
        instance.setLabel(jQuery('#junosIconName').val());
        instance.setPassword(jQuery('#junosIconPass').val());

        instance.repaint();

    }

    function loadLabelEditor(figureId) {
        if (currentSelection !== "labelEditor") {
            hideAllEditors();
            manuallyTogglePanel('labelEditor', '');
            currentSelection = "labelEditor";
        }
        p = canvas.getFigure(figureId);
        jQuery('#selectedLabel').val(figureId);
        jQuery('#labelText').val(p.getText());
        jQuery('#labelFontSize').val(p.fontSize);
    }

    function updateLabel() {
        l = canvas.getFigure(jQuery('#selectedLabel').val());
        l.setText(jQuery('#labelText').val());
        l.setFontSize(jQuery('#labelFontSize').val());
    }

    function addExternalCloud() {
        externalCloudCounter = externalCloudCounter + 1;
        var label = jQuery('#externalCloudName').val();
        var c = new draw2d.shape.node.externalCloud(label);
        c.width = 100;
        c.height = 100;
        canvas.add(c, 385 + (externalCloudCounter * 60), 15 + (externalCloudCounter * 50));

        hideOverlay('#add_bridge_form');
    }

    function addInternalCloud() {
        internalCloudCounter = internalCloudCounter + 1;
        var label = jQuery('#internalCloudName').val();
        var c = new draw2d.shape.node.internalCloud(label);
        c.width = 100;
        c.height = 100;
        canvas.add(c, 405 + (internalCloudCounter * 60), 15 + (internalCloudCounter * 50));

        hideOverlay('#add_bridge_form');
    }

    function addRectangle() {
            var r = new draw2d.shape.basic.Rectangle(175, 100);
            r.setBackgroundColor(null);
            // simple algorithm to add icons to the screen without overlapping
            lastX += 100;
            lastY += 0;
            iconCount += 1;

            if (iconCount > iconWrapLimit) {
                lastX = 50;
                lastY = iconOffset;
                iconCount = 1;
                iconOffset += 110;
            }
            canvas.add(r, lastX, lastY);
            r.toBack();
    }

    function addCircle() {
            var r = new draw2d.shape.basic.Circle(175, 100);
            r.setBackgroundColor(null);
            // simple algorithm to add icons to the screen without overlapping
            lastX += 100;
            lastY += 0;
            iconCount += 1;

            if (iconCount > iconWrapLimit) {
                lastX = 50;
                lastY = iconOffset;
                iconCount = 1;
                iconOffset += 110;
            }
            canvas.add(r, lastX, lastY);
            r.toBack();
    }

    // are we editing an existing topology?
    function isNewTopology() {
        return true;
    }

    // loads initial topology from json stored in the 'json' div
    // also creates the instance array variable on page context
    function loadTopology() {
        var test = jQuery('#json').val();
    	if ((test != null) && (test != "")) {
    	    console.log("test is :" + test + ":");
		    // var jsonTxt = JSON.stringify(test, null, 2);
		    var json = eval(test);
		    reader = new draw2d.io.json.Reader();
		    reader.unmarshal(canvas, json);
		}
	}

    jQuery( window ).load(function() {
        window.canvas = new draw2d.Canvas("gfx_holder", true);
        // set default connection router here

        var createConnection = function(v){
           // return customized connection

           var connection = new draw2d.Connection({
             stroke: 3,
             radius: 10,
             color: "#445E88",
             router: new draw2d.layout.connection.VertexRouter(),
           });
           return connection;
        };

        // install a custom connection create policy
        //
        canvas.installEditPolicy(  new draw2d.policy.connection.DragConnectionCreatePolicy({
               createConnection: createConnection
        }));


	    canvas.installEditPolicy(new draw2d.policy.canvas.FadeoutDecorationPolicy());
        canvas.installEditPolicy(new draw2d.policy.canvas.SnapToGeometryEditPolicy(10));

        canvas.installEditPolicy(new draw2d.policy.canvas.SnapToCenterEditPolicy());


        //canvas.addSelectionListener(new topologySelectionListener());
        var tsl = new topologySelectionListener();
        canvas.on("select", function(emitter,event) {
            if (event.figure != null) {
                tsl.onSelectionChanged(event.figure);
            }
        });
        loadTopology();
    });
    </script>
{% endblock %}
{% block content %}
    <table border="0">
        <tr>
            <td id="newTopologyMenu" colspan="2">
                <ul>
                        <li>
                            <a href="#" onclick="javascript: showOverlay('#topology_save_form');">
                                Save
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: showOverlay('#add_vm_form');">
                                Add VM
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: showOverlay('#add_bridge_form');">
                                Add Bridge
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: showOverlay('#add_label_form');">
                                Add Label
                            </a>
                        </li>
                        <li>
                            <a href="#"  title="Remove selected Object from Topology"
                               onclick="javascript: deleteSelectedObject()">
                                Delete Object
                            </a>
                        </li>

                </ul>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; padding-left: 2px; background-color: #fff;">
                <div id="gfx_holder" style="background-image: url({% static 'images/grid_lite.png' %});
                background-repeat: repeat;
                width:1300px;
                height:650px;
                position:relative;
                ">
                </div>
            </td>
        </tr>
    </table>

    <div id="topology_save_form" style="display:none">
        <form method="post" id="topoForm" name="topoForm"
            action="{% url 'topologies:create' %}" method="POST">
        <table>
            <tr>
                <td colspan="2" class="screen-overlay-menu">
                    <a href="#" onclick="javascript: hideOverlay('#topology_save_form')">X</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h2>Save Topology</h2>
                </td>
            </tr>
            <tr>
                <td>
                  Name
                </td>
                <td>
                  <input type="text" size="30" maxsize="30" name="name" id="name"
                         onblur="javascript: clean_string_first_alpha(this)"
                         value=""/>
                  <input type="hidden" name="json" id="json" value="{{ topo.json }}"/>
                  <input type="hidden" id="selectedObject" value="0">
                </td>
              </tr>
              <tr>
                <td>
                  Description
                </td>
                <td>
                  <textarea rows="3" id="description" name="description"></textarea>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="border-bottom: 0px solid #fff">

                  <input type="button" name="submit_button" id="submit_button"
                    value="Save" onclick="javascript: saveTopology();"/>

                </td>
              </tr>
        </table>
            </form>
    </div>
    <div id="add_vm_form" style="display:none">
        <table>
            <tr>
                <td colspan="2" class="screen-overlay-menu">
                    <a href="#" onclick="javascript: hideOverlay('#add_vm_form')">X</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h2>Add VM</h2>
                </td>
            </tr>
            <tr>
                <td>
                    Authentication
                </td>
                <td>
                    <input type="text" size="15" maxsize="15" style="width: 75px;"
                           name="topoIconUser" id="topoIconUser" value="root" title="Username"/>
                    &nbsp;
                    <input type="text" size="15" maxsize="15"  style="width: 75px;"
                           name="topoIconPass" id="topoIconPass" value="{{ global_config.default_instance_password }}"
                           onblur="javascript: checkPass(this.value);" title="Password"/>
                </td>
            </tr>
            <tr>
                <td>
                    Instance Name
                </td>
                <td>
                    <input type="text" size="15" maxlength="7" name="topoIconName" id="topoIconName" value=""
                           onblur="javascript: clean_string_no_space(this);"/>
                </td>
            </tr>
            <tr>
                <td>
                    Base Image
                </td>
                <td>
                    <select name="topoIconImageSelect" id="topoIconImageSelect" onchange="javascript: setImageType();">
                        <option value="0">Choose Image</option>
                        <!-- not a better way to do this? -->
                        {% for i in image_list %}
                        <option value="{{ i.id }}:{{i.type}}">{{ i.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            </tbody>

            <tbody id="addInstanceTbodyAdvanced">
            <tr>
                <td>
                    Machine Properties
                </td>
                <td>
                    vCPU:
                    <select name="topoIconCpu" id="topoIconCpu">
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="4">4</option>
                        <option value="8">8</option>
                    </select>
                    &nbsp; &nbsp;
                    vRAM:
                    <select name="topoIconRam" id="topoIconRam">
                        <option value="512">512</option>
                        <option value="768">768</option>
                        <option value="1024">1024</option>
                        <option value="2048" selected>2048</option>
                        <option value="4096">4096</option>
                        <option value="8192">8192</option>
                        <option value="16384">16384</option>
                    </select> MB
                </td>
            </tr>
            </tbody>
            <tbody id="addInstanceTbodyCloudInit" style="display: none">
                <tr>
                    <td>
                        Cloud-Init Script
                    </td>
                    <td>
                        <select name="topoIconScriptSelect" id="topoIconScriptSelect">
                            <option value="0">Default cloud-init script</option>
                            <!-- not a better way to do this? -->
                            {% for s in script_list %}
                            <option value="{{ s.id }}">{{ s.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Cloud-Init Param
                    </td>
                    <td>
                        <input type="text" size="15" name="topoIconScriptParam" id="topoIconScriptParam" value="0"
                               onblur="javascript: clean_string_no_special(this);"/>
                    </td>
                </tr>
            </tbody>
            <tbody id="addInstanceTbodySecondaryDisk" style="display: none">
            <tr>
                <td title="Only useful for vmx > 14.2">
                    Secondary Disk
                </td>
                <td>
                    <select name="topoIconSecondaryDisk" id="topoIconSecondaryDisk">

                    </select>
                </td>
            </tr>
            </tbody>
            <tbody id="addInstanceTbodyVFPC" style="display: none">
            <tr>
                <td title="Only useful for vmx > 14.2">
                    Virtual PFE
                </td>
                <td>
                    <select name="topoIconImageVFPCSelect" id="topoIconImageVFPCSelect"
                            onchange="javascript: setCompanionParams(this)">
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    vPFE vCPU
                </td>
                <td>
                    <select name="topoIconVFPCCpu" id="topoIconVFPCCpu">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                        <option value="4">4</option>
                        <option value="8">8</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    vPFE vRAM
                </td>
                <td>
                    <select name="topoIconVFPCRam" id="topoIconVFPCRam">
                        <option value="512">512</option>
                        <option value="768">768</option>
                        <option value="1024">1024</option>
                        <option value="2048">2048</option>
                        <option value="4096">4096</option>
                         <option value="6144">6144</option>
                        <option value="8192" selected>8192</option>
                        <option value="16384">16384</option>
                    </select> MB
                </td>
            </tr>
            </tbody>
            <!--
            <tbody id="addInstanceTbodyAdd">
            <tr>
                <td>
                    Icon
                </td>
                <td>
                    <select name="topoIconIcon" id="topoIconIcon">
                        <option value="mx_large:50:60">MX Large</option>
                        <option value="mx_small:50:40">MX Small</option>
                        <option value="firefly:40:40">Firefly</option>
                        <option value="router:40:40">Generic Router</option>
                        <option value="server:25:50">Generic Server</option>
                    </select>
                </td>
            </tr>
            -->
            <tr>
                <td colspan="2">
                    <input type="hidden" name="topoIconType" id="topoIconType" value=""/>
                    <input type="hidden" name="topoIconImage" id="topoIconImage" value=""/>
                    <input type="button" onclick="javascript: addIconAndClose();" value="Add and Close"/>
                    &nbsp;
                    <input type="button" onclick="javascript: addIcon();" value="Add Another Instance"/>
                </td>
            </tr>
        </table>
    </div>
    <div id="add_bridge_form" style="display:none">
        <table>
            <tr>
                <td colspan="2" class="screen-overlay-menu">
                    <a href="#" onclick="javascript: hideOverlay('#add_bridge_form')">X</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h2>Add Bridge</h2>
                </td>
            </tr>
            <tr>
                <td>
                    External Access:
                </td>
                <td>
                    <input type="text" style="width: 150px;" id="externalCloudName" value="{{ external_bridge }}"/>
		    &nbsp;
                    <input type="button" value="Add External Bridge" title="Add Existing Bridge"
                           onclick="javascript: addExternalCloud()"/>
                </td>
            </tr>
            <tr>
                <td>
                    Private Network:
                </td>
                <td>
                    <input type="text" style="width: 150px;" id="internalCloudName" value="Private 1"/>
                    &nbsp;
                    <input type="button" value="Add Private Bridge" title="Add private network"
                           onclick="javascript: addInternalCloud()"/>
                </td>
            </tr>
        </table>
    </div>
    <div id="add_label_form" style="display:none;">
        <table>
            <tr>
                <td colspan="2" class="screen-overlay-menu">
                    <a href="#" onclick="javascript: hideOverlay('#add_label_form')">X</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h2>Add Text Label</h2>
                </td>
            </tr>
            <tr>
                <td>
                    Text:
                </td>
                <td>
                    <input type="text" id="newLabel"/>
                </td>
            </tr>
            <tr>
                <td>
                    Font Size:
                </td>
                <td>
                    <select id="newLabelFontSize">
                        <option value="8">8</option>
                        <option value="10">10</option>
                        <option value="12">12</option>
                        <option value="14">14</option>
                        <option value="16" selected>16</option>
                        <option value="18">18</option>
                        <option value="20">20</option>
                        <option value="22">22</option>
                        <option value="24">24</option>
                        <option value="26">26</option>
                        <option value="28">28</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="48">48</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" value="Add Label" onclick="javascript: addLabel()"/>
                </td>
            </tr>
        </table>
    </div>
    <div id="jsonDebug" style="display: none;">
        <table>
            <tr>
                <th>
                    Debug Panel
                </th>
            </tr>
            <tr>
                <td colspan="2" class="screen-overlay-menu">
                    <a href="#" onclick="javascript: hideOverlay('#jsonDebug')">X</a>
                </td>
            <tr>
                <td>
                    <textarea id="debug" cols="1" rows="5"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" onclick="javascript: updateDebug();" value="Update JSON"
                           title="Manually modify JSON object">
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
