{% extends "base.html" %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript">
    function validateForm() {
        var d = $('#id_description');
        var n = $('#id_name');
        var f = $('#id_template');
        if (n.val() == "") {
            alert("Please enter a name!");
            n.focus();
            return false;
        }
        if (d.val() == "") {
            alert("Please enter a description!");
            d.focus();
            return false;
        }
        if (f.val() == "") {
            alert("Please enter config information!");
            f.focus();
            return false;
        }
    }
    </script>
{% endblock %}
{% block content %}
<div style="border:1px solid #000; margin: auto; padding: 10px; width: 700px;">
    <h2>Edit Script</h2>
    <form method="post" enctype="multipart/form-data" onsubmit="javascript: return validateForm();" action="/scripts/updateScript/">
        {% csrf_token %}
        {{ script_form }}
        <input type="hidden" name="id" value="{{ script.id }}"/>
        <input type="submit"/>
    </form>
</div>
{% endblock %}
