{% extends "base.html" %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript">
    function validateForm() {
        var d = $('#id_description');
        var n = $('#id_name');
        var s = $('#id_script');
        if (n.val() == "") {
            alert("Please enter a name!");
            n.focus();
            return false;
        }
        if (d.val() == "") {
            alert("Please enter a description!");
            d.focus();
            return false;
        }
        if (s.val() == "") {
            alert("Please enter script information!");
            f.focus();
            return false;
        }
    }
    </script>
{% endblock %}
{% block content %}
<div class="centered_box_75">

    <h2>Create Linux Script</h2>
    <form method="post" enctype="multipart/form-data" onsubmit="javascript: return validateForm();"
          action="/scripts/createScript/">
        <table>
            {{ script_form.as_table }}
            <tr>
                <td colspan="2">
                    {% csrf_token %}
                    <input type="submit"/>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
