
{% extends "base.html" %}
{% block title %}Wistar - Lab Rat - Edit Topology {% endblock %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript" src="{% static "js/shifty.js" %}"></script>
    <script type="text/javascript" src="{% static "js/raphael.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-1.8.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui-1.8.23.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.layout.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.autoresize.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-touch_punch.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.contextmenu.js" %}"></script>
    <script type="text/javascript" src="{% static "js/rgbcolor.js" %}"></script>
    <script type="text/javascript" src="{% static "js/canvg.js" %}"></script>
    <script type="text/javascript" src="{% static "js/Class.js" %}"></script>
    <script type="text/javascript" src="{% static "js/json2.js" %}"></script>
    <script type="text/javascript" src="{% static "js/draw2d.js" %}"></script>
    
    <script type="text/javascript" src="{% static "js/topologyIcon.js" %}"></script>
    <script type="text/javascript" src="{% static "js/topologySelectionListener.js" %}"></script>
  
    <script type="text/javascript" src="{% static "js/prototype.js" %}"></script>
   
    <script type="text/javascript">
    var canvas;
    var lastX = 0;
    var lastY = 0;

    var vmxCount = 1;

    function loadTopology() {
        var test = $('json').value;
    	if (test != null) {
		    var jsonTxt = JSON.stringify(test, null, 2);
		    var json = eval(test);
		    reader = new draw2d.io.json.Reader();
		    reader.unmarshal(canvas, json);
		    for(i=0;i<json.length;i++) {
			    console.log("checking json object");
			    if (json[i]["type"] == "draw2d.shape.node.topologyIcon") {
				    console.log("found json object");
				    vmxCount++;
			    }
		    }
    	}
    } 

    function addIcon() {
    	var ip = $F('topoIconIp');
    	var pw = $F('topoIconPass');
    	var name = $F('topoIconName');
    	var type = $F('topoIconType');
    	var image = $F('topoIconImage');

    	var canvas_object = new draw2d.shape.node.topologyIcon(type, name, ip, pw, image);
    	lastX += 50;
    	lastY += 50;
    	vmxCount += 1;
	    canvas.addFigure(canvas_object, lastX, lastY);
    }

    function exportJson() {
        // Create a JSON writer and convert it into a JSON-String representation.
        
    	var writer = new draw2d.io.json.Writer();
        var json = writer.marshal(canvas);

        // convert the json object into string repesentation
        var jsonTxt = JSON.stringify(json, null, 2);

        // insert the json string into a DIV for preview or post
        // it via ajax to the server....
        $("json").value = jsonTxt;
    }

    function saveTopology() {
	    exportJson();
	    $('topoForm').submit();
    }

    function deployTopology() {
        if(confirm("Are you sure you want to deploy this topology? This will define and start all instances!")) {
		    window.location="/topologies/deploy/{{ topo.id }}";
	    }
    }
    
    function deleteTopology() {
        if(confirm("Are you sure you want to delete this topology?")) {
		    window.location="/topologies/delete/{{ topo.id }}";
	    }
    }


    function checkPass(pw) {
        if(pw != "") {
            upper = pw.match('[A-Z]');
            lower = pw.match('[a-z]');
            digit = pw.match('[0-9]');

            if (upper && lower && digit) {
                console.log('password accepted');
            } else {
                alert('Password does not meet complexity requirments');
            }
        } else {
                alert('Password is required');
        }

    }

    function setImageType() {
        id = $('topoIconImageSelect').value.split(':')[0]
        type = $('topoIconImageSelect').value.split(':')[1]
        console.log("Setting image to " + id + " and type to " + type);
        $('topoIconType').value = type;
        $('topoIconImage').value = id;
    }

    // get the name that was used to create the vm instance
    // these use a very simple method to ensure some amount
    // of uniqueness within the hypervisor
    function generateDomainNameFromLabel(name) {
        if ( "{{ topo.id }}" == "" ) {
            alert('Topology not yet deployed');
        }
        return "t{{ topo.id }}_" + name;
    }


    function preconfigJunosDomain(label, password, ip) {
        domain = generateDomainNameFromLabel(label);
        new Ajax.Request('/ajax/preconfigJunosDomain/', {
	    parameters: { 'domain' : domain, 'password' : password, 'ip' : ip },
            onSuccess: function(response) {
                data = eval(response.responseJSON);
                console.log(data);
		        if (data["result"] == false) {
			        alert("Error: " + data["message"]);
		        } else {
			        alert("Success!");
		        }
            },
            onFailure: function(response) {
                alert("Could not load data!!!");
        		console.log(response);
            }
        });
    }

    function configDeviceInterfaces(ip, password) {
        new Ajax.Request('/ajax/configJunosInterfaces/', {
	    parameters: { 'ip' : ip, 'password' : password },
            onSuccess: function(response) {
                data = eval(response.responseJSON);
                console.log(data);
        		if (data["result"] == false) {
	        		alert("Error: " + data["message"]);
        		} else {
			        alert("Success!");
		        }
            },
            onFailure: function(response) {
                alert("Could not load data!!!");
		        console.log(response);
                //alert(response);
            }
        });
    }

    // fixme - do something useful with this data!
    function getJunosConfig(ip, password) {
        new Ajax.Request('/ajax/getJunosConfig/', {
	    parameters: { 'ip' : ip, 'password' : password },
            onSuccess: function(response) {
                data = eval(response.responseJSON);
                console.log(data);
		        if (data["result"] == false) {
			        alert("Error: " + data["message"]);
		        } else {
			        alert("Success!");
		        }
            },
            onFailure: function(response) {
                alert("Could not load data!!!");
		        console.log(response);
                //alert(response);
            }
        });
    }

    function syncLinkData() {
        var params = { 
            'sourceIp' : $F('connectionSourceIp'),
            'sourceIface' : $F('connectionSourceIface'),
            'targetIp' : $F('connectionTargetIp'),
            'targetIface' : $F('connectionTargetIface'),
            'sourcePortIp' : $F('connectionSourcePortIp'),
            'targetPortIp' : $F('connectionTargetPortIp'),
            'sourcePw' : $F('connectionSourcePw'),
            'targetPw' : $F('connectionTargetPw')
        };
        var url = "/ajax/syncLinkData/";
        var successMessage = "Successly pushed IP addresses to VMs";

        simpleAjaxRequest(url, params, successMessage);

        console.log(params);
    }

    function simpleAjaxRequest(url, params, successMessage) {
        var doc = document.getElementsByTagName('html')[0];
        doc.style.cursor = 'progress';
        new Ajax.Request(url, {
	        parameters: params,
            onSuccess: function(response) {
                data = eval(response.responseJSON);
                console.log(data);
                doc.style.cursor = '';
		        if (data["result"] == false) {
			        alert(data["message"]);
		        } else {
			        alert(successMessage);
		        }
            },
            onFailure: function(response) {
                doc.style.cursor = '';
                alert("Could not perform request!");
		        console.log(response);
            }
        });
    }

    function getJunosStartupState(label) {
        domain = generateDomainNameFromLabel(label);
        new Ajax.Request('/ajax/getJunosStartupState/', {
	        parameters: { 'name' : domain },
            onSuccess: function(response) {
                data = eval(response.responseJSON);
                console.log(data);
		        if (data["result"] == false) {
			        alert("Device is not yet booted up!");
		        } else {
			        alert("Device is Booted and Ready!");
		        }
            },
            onFailure: function(response) {
                alert("Could not load data!!!");
		        console.log(response);
                //alert(response);
            }
        });
    }

    /* UI related function */
    var currentSelection = "None";

    function hideAllEditors() {
        manuallyTogglePanel('jsonDebug', 'none');
        manuallyTogglePanel('junosIconEditor', 'none');
        manuallyTogglePanel('connectionEditor', 'none');
    }

    function hideSelection() {
        hideAllEditors();
        currentSelection = "None";
    }
    
    function showDebug() {
        hideAllEditors();
        manuallyTogglePanel('jsonDebug', '');
        currentSelection = "debug";
	    exportJson();
	    $('debug').value = "";
	    $('debug').value = $('json').value;
    }

    function setSelectedObject(objectId) {
        console.log(objectId);
        $('selectedObject').value = objectId;
    }

    function manuallyTogglePanel(el, v) {
        if(v == "none") {
            if($(el).style.display == 'none') {
                return;
            }
            $(el).style.display = 'none';

        } else {
            if($(el).style.display == '') {
                return;
            }
            $(el).style.display = '';
        }
    }

    function loadJunosIconEditor(figureId) {
        if (currentSelection !== "junosIconEditor") {
            hideAllEditors();
            manuallyTogglePanel('junosIconEditor', '');
            currentSelection = "junosIconEditor";
        }

        $('selectedConnection').value = figureId;


    }
    // fixme - this will be broken for anything other than vmx
    function loadConnectionEditor(figureId) {
        var connection = canvas.getLine(figureId);
        var sourcePort = connection.getSource();
        var targetPort = connection.getTarget();

        targetConns = targetPort.getConnections();
        sourceConns = sourcePort.getConnections();

        var sourceIndex = 0;
        var targetIndex = 0;

        for(s=0;s<sourceConns.size;s++) {
            sc = sourceConns.get(s);
            console.log(sc.id);
            if(sc.id == figureId) {
                sourceIndex = s;
                break;
            }
        }
        
        for(t=0;t<targetConns.size;t++) {
            tc = targetConns.get(t);
            console.log(tc.id);
            if(tc.id == figureId) {
                targetIndex = t;
                break;
            }
        }
        // fixme: add type check to port.getParent to do the right thing for Linux and otherOS instances...
        $('connectionSourceDevice').innerHTML = sourcePort.getParent().getLabel() + " ge-0/0/" + sourceIndex;
        $('connectionTargetDevice').innerHTML = targetPort.getParent().getLabel() + " ge-0/0/" + targetIndex;

        // keep these values around for later
        $('connectionSourceIp').value = sourcePort.getParent().getIp();
        $('connectionTargetIp').value = targetPort.getParent().getIp();

        $('connectionSourcePw').value = sourcePort.getParent().getPassword();
        $('connectionTargetPw').value = targetPort.getParent().getPassword();
        
        $('connectionSourceIface').value = "ge-0/0/" + sourceIndex;
        $('connectionTargetIface').value = "ge-0/0/" + targetIndex;

        var connData = connection.getUserData();

        $('connectionSourcePortIp').value = "";

        $('connectionTargetPortIp').value = "";

        if (connData != null) {
            $('connectionSourcePortIp').value = connData["sourceIp"];
            $('connectionTargetPortIp').value = connData["targetIp"];
        }

        if (currentSelection !== "connectionEditor") {
            hideAllEditors();
            manuallyTogglePanel('connectionEditor', '');
            currentSelection = "connectionEditor";
        }

        $('selectedConnection').value = figureId;
    }

    function saveConnectionData() {
        var connId = $F('selectedConnection');
        var sIp = $F('connectionSourcePortIp');
        var tIp = $F('connectionTargetPortIp');
        var connData = {
            "sourceIp": sIp,
            "targetIp": tIp
        };
        var connection = canvas.getLine(connId);
        connection.setUserData(connData);
        console.log("saved info on connection Object");
    }

    Event.observe(window, 'load', function() {
        window.canvas = new draw2d.Canvas("gfx_holder", true);
        canvas.addSelectionListener(new topologySelectionListener());
	    canvas.installEditPolicy(new draw2d.policy.canvas.FadeoutDecorationPolicy());
        canvas.installEditPolicy(new draw2d.policy.canvas.SnapToGeometryEditPolicy(10));
        loadTopology();
    });
    </script>
{% endblock %}
{% block content %}
    <table border="1">
    <tr>
        <td id="topoFormContainer" style="vertical-align: top">
          <form method="post" id="topoForm" name="topoForm" 
                  action="{% url 'topologies:create' %}" method="POST">
		    {% csrf_token %}
        <table>
            <tr>
                <td>Name</td>
                <td>
		            <input type="text" size="30" maxsize="30" name="name" id="name" value="{{ topo.name }}"/>
                    <input type="hidden" name="json" id="json" value="{{ topo.json }}"/>
                    <input type="hidden" id="selectedObject" value="0">
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td>
                    <textarea rows="3"id="description" name="description">{{ topo.description }}</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
				{% if topo.name != None %}
		                <input type="button" name="deployButton" id="deployButton" 
		                       value="Deploy" onclick="javascript: deployTopology();"/>
				&nbsp;
		                <input type="hidden" name="id" id="topoId" value="{{ topo.id}}"/>
		                <input type="button" name="delete_button" id="delete_button" 
		                       value="Delete" onclick="javascript: deleteTopology();"/>
				&nbsp;
		                <input type="button" name="submit_button" id="submit_button" 
		                       value="Update" onclick="javascript: saveTopology();"/>
				{% else %}
		                <input type="button" name="submit_button" id="submit_button" 
		                       value="Save" onclick="javascript: saveTopology();"/>
				{% endif %}
                </td>
	        </tr>
        </table>
        </form>
	</td>
        <td rowspan="2" style="vertical-align: top">
            <div id="gfx_holder" style="background-image: url({% static "images/grid.png" %}); 
                            background-size: 180px 146px; 
                            background-repeat: repeat; 
                            width:900px; 
                            height:470px; 
                            border: 1px solid #000">
            </div>
            <div id="jsonLayout" style="display: none;">{{ topology.json }}</div>
        </td>
      </tr>
      <tr>
	    <td style="vertical-align: top">
          <h3>Add Instance</h3>
          <table>
            <tr>
                <td>IP Address</td>
                <td>
                    <input type="text" size="15" maxsize="15" name="topoIconIp" id="topoIconIp" value=""/> &nbsp;
                </td>
            </tr>
            <tr>
                <td>Root Password</td>
                <td>
                    <input type="text" size="15" maxsize="15"
name="topoIconPass" id="topoIconPass" value="" onblur="javascript: checkPass(this.value);"/> &nbsp;
                </td>
            </tr>
            <tr>
                <td>Instance Name</td>
                <td>
                    <input type="text" size="15" maxsize="15" name="topoIconName" id="topoIconName" value=""/> &nbsp;
                </td>
            </tr>
            <tr>
                <td>Base Image</td>
                <td>
			        <select name="topoIconImageSelect" id="topoIconImageSelect" onchange="javascript: setImageType();">
			            <option value="0">Choose Image</option>
			            <!-- not a better way to do this? -->
			            {% for i in image_list %}
			            <option value="{{ i.id }}:{{i.type}}">{{ i.name }}</option>
			            {% endfor %}
			        </select>
			        <input type="hidden" name="topoIconType" id="topoIconType" value=""/>
			        <input type="hidden" name="topoIconImage" id="topoIconImage" value=""/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" onclick="javascript: addIcon();" value="Add vMX"/>
                </td>
            </tr>
          </table>

          <div id="junosIconEditor" style="display:none">
            Hi there
          </div>
          <div id="connectionEditor" style="display: none;">
                                    <table>
                                        <tr>
                                            <td colspan="2">
                                                <input type="hidden" id="selectedConnection" value="0">
                                                <input type="hidden" id="connectionSourceIp" value="0">
                                                <input type="hidden" id="connectionTargetIp" value="0">
                                                <input type="hidden" id="connectionSourceIface" value="0">
                                                <input type="hidden" id="connectionTargetIface" value="0">
                                                <input type="hidden" id="connectionSourcePw" value="0">
                                                <input type="hidden" id="connectionTargetPw" value="0">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Source Device:
                                            </td>
                                            <td>
                                                <div style="display: inline;" id="connectionSourceDevice"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Source IP Address:
                                            </td>
                                            <td>
                                                <input type="text" onblur="javascript: saveConnectionData();"  id="connectionSourcePortIp">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Target Device:
                                            </td>
                                            <td>
                                                <div style="display: inline;" id="connectionTargetDevice"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Target IP Address:
                                            </td>
                                            <td>
                                                <input type="text" onblur="javascript: saveConnectionData();" id="connectionTargetPortIp">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="button" onclick="javascript: syncLinkData();" value="Sync Link Data">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div id="jsonDebug" style="display: none;">
                                  <table>
                                    <tr>
                                      <td>
                    	                <textarea id="debug" cols="1" rows="5"></textarea>
                                      </td>
                                    </tr>
                                  </table>
                                </div>
          <br/>
          <br/>
          <br/>
          <br/>
	</td>
       </tr>
       <tr>
	 <td colspan="2">
                <input type="button" name="debugButton" id="debugButton" 
                       value="Debug" onclick="javascript: showDebug();"/>
	 </td>
       </tr>
    </table>
{% endblock %}
