
{% extends "base.html" %}
{% block title %}Wistar - Lab Rat - Home{% endblock %}
{% block content %}
<h2>Domains</h2>
<table>
    <tr>
        <th>Name</th>
        <th>State</th>
        <th>Options</th>
    </tr>
{% for d in domains %}
    <tr>
        <td><a href='viewDomain/{{ d.uuid }}'>{{ d.name }}</a> </td>
        <td>{{ d.state }}</td> 
        <td>
		{% if d.state != "running" %}
		<a href='startDomain/{{ d.uuid}}'><font color="green">Start</font></a>
		&nbsp;
		{% else %}
		<a href='stopDomain/{{ d.uuid}}'><font color="red">Stop</font></a>
		&nbsp;
		{% endif %}
		<a href='undefineDomain/{{ d.uuid}}'><font color="black">Delete Instance</font></a>
	</td>
    </tr>
{% endfor %}
</table>
<br/>
<h2>Networks</h2>
<table>
    <tr>
        <th>Name</th>
        <th>State</th>
        <th>Options</th>
    </tr>
{% for n in networks %}
    <tr>
        <td><a href='viewNetwork/{{ n.name }}'>{{ n.name }}</a> </td>
        <td>{{ n.state }}</td> 
        <td>
		{% if n.state != "running" %}
		<a href='startNetwork/{{ n.name }}'><font color="green">Start</font></a>
		&nbsp;
		{% else %}
		<a href='stopNetwork/{{ n.name }}'><font color="red">Stop</font></a>
		&nbsp;
		{% endif %}
		<a href='undefineNetwork/{{ n.name }}'><font color="black">Undefine</font></a>
	</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
