{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>{% block title %}Wistar Lab Rat{% endblock %}</title>
    <link href="{% static 'images/wistar.png' %}" rel="shortcut icon">
    <script type="text/javascript" src="{% static 'js/jquery-1.8.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/wistar_utils.js' %}"></script>
    {% block scripts %}{% endblock %}
</head>
<body>
<div id="header">
    <table>
        <tr>
            <td colspan="2"><img src="{% static 'images/juniper.png' %}" width="211" height="60" border="0"/></td>
            <td colspan="2" style="text-align: right" id="hostLoad">
                <a href="javascript: refreshHostLoad()">
                    Host Load: {{ load.one }} - {{ load.five }} - {{ load.ten }}
                </a>
            </td>
        </tr>
        </table>
    </div>
<div id="header_menu">
    <table>
        <tr>
            <td>
                <a href="/topologies/">Topologies</a>
            </td>
            {% if global_config.deployment_backend == "kvm" %}
            <td>
                <a href="/ajax/manageHypervisor/">Manage Hypervisor</a>
            </td>
            {% elif global_config.deployment_backend == "openstack" %}
            <td>
                <a href="javascript: window.open('http://{{ global_config.openstack_host }}/horizon/project/stacks')">Manage Openstack</a>
            </td>
            {% endif %}
            <td>
                <a href="/images/">Images</a>
            </td>
            <td>
                <a href="/scripts/">Scripts</a>
            </td>
        </tr>
    </table>
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
<div style="background: white; text-align: center">Version: 201611040911 <br/><br/></div>
</body>
</html>
