system {
    host-name {{ config.host_name }};
    root-authentication {
        plain-text-password-value "{{ config.password }}"; ## SECRET-DATA
    }
    login {
        user {{ config.ssh_user }} {
            class super-user;
            authentication {
                ssh-rsa "{{ config.ssh_key }}"; ## SECRET-DATA
                plain-text-password-value "{{ config.password }}"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh {
            root-login allow;
        }
        netconf {
            ssh;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
interfaces {
    {{ config.mgmt_interface }} {
        unit 0 {
            family inet {
                address {{ config.mgmt_ip }};
            }
        }
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop {{ config.mgmt_gateway }};
    }
}