vm_chassis_i2cid="161"
vm_i2cid="0xBAA"
vm_instance="0"
vm_is_virtual="1"
vm_ore_present="0"
vm_retype="RE-VMX"
vmtype="1"
vm_chassisname="{{ config.host_name }}"
vm_chassname="{{ config.host_name }}"
console="vidconsole,comconsole"

