{% extends "base.html" %}
{% block content %}
<div class="centered_box_75">

    <h2>Configuration Templates</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Options</th>
        </tr>
        {% for template in template_list %}
        <tr>
            <td><a href='{{ template.id }}'>{{ template.name }}</a></td>
            <td>{{ template.description }}</td>
            <td>
                <a href='delete/{{ template.id }}'>Delete</a>
                &nbsp;
                <a href='edit/{{ template.id }}'>Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br/>
    <br/>
    <h2>Scripts</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Options</th>
        </tr>
        {% for script in script_list %}
        <tr>
            <td><a href='viewScript/{{ script.id }}'>{{ script.name }}</a></td>
            <td>{{ script.description }}</td>
            <td>
                <a href='deleteScript/{{ script.id }}'>Delete</a>
                &nbsp;
                <a href='editScript/{{ script.id }}'>Edit</a>
                &nbsp;
                <a href="#" onclick="javascript: loadAvailableInstances({{ script.id }});">Launch</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
