{% load staticfiles %}
<script type="text/javascript">
    {% if domain_list|length == 0 %}
    is_deployed = false;
    {% else %}
    is_deployed = true;
    {% endif %}
</script>
<table>
    <tr>
        <th colspan="3">KVM Deployment Status</th>
    </tr>
    {% if domain_list|length == 0 %}
    <tr>
        <td>
            Domains not yet defined in hypervisor!
        </td>
    </tr>
    <tr>
        <td>
            {% if topologyId != None %}
            <input type="button" name="deployButton" id="deployButton"
                   value="Deploy To Hypervisor" onclick="javascript: deployTopology();"/>
            {% endif %}
            &nbsp;
            <input type="button" name="refreshDSButton" id="refreshDSButton"
                   value="Refresh Hypervisor Status"
                   onclick="javascript: refreshDeploymentStatus('{{ topologyId }}');"/>
        </td>
    </tr>
    {% else %}
    {% for d in domain_list %}
    <tr>
        <td>
            <a href="/topologies/parent/{{ d.name }}"
               title="View parent topology">
                {{ d.name }}
            </a>
        </td>
        <td>
            {{ d.state }}
        </td>
        <td style="white-space: nowrap;">
            <div class="status_grey">
            <a href="#" onclick="javascript: manageDomain('undefine', '{{ d.uuid }}', '{{ topologyId }}');"
               title="Delete Instance">X</a>
            </div>


            &nbsp;
            {% if topologyId == None %}
            <div class="status_grey">
            <a href="#" onclick="javascript: redir('/ajax/viewDomain/{{ d.uuid }}')"
               title="Dump details from Hypervisor in XML">
                &#128269;</a>
            </div>
            &nbsp;
            {% if d.state != "running" %}
            <div class="status_grey">
            <a href="#" onclick="javascript: redir('/images/createFromInstance/{{ d.uuid }}')"
               title="Clone Instance to new Image. A BlockPull MUST be done before a Clone">
                CL</a>
            </div>
            &nbsp;
            {% else %}
            <div class="status_grey">
            <a href="#" onclick="javascript: redir('/images/blockPull/{{ d.uuid }}')"
               title="Perform a BlockPull. This MUST be done before a Clone">
                BP</a>
            </div>
            &nbsp;
            {% endif %}
            {% endif %}
            {% if d.state != "running" %}
            <div class="status_red" title="Power on instance in Hypervisor">
            <a href="#" onclick="javascript: manageDomain('start', '{{ d.uuid }}', '{{ topologyId }}');">
                &#9661;</a>
            </div>
            &nbsp;
            {% else %}
            <div class="status_green">
            <a href="#" onclick="javascript: manageDomain('stop', '{{ d.uuid }}', '{{ topologyId }}');"
               title="Power off instance in Hypervisor">
                &#10003;</a>
            </div>
            &nbsp;
            <div class="status_grey">
            <a href="#" onclick="javascript: manageDomain('suspend', '{{ d.uuid }}', '{{ topologyId }}');"
               title="Suspend instance in Hypervisor">
                S</a>
            </div>
            &nbsp;
            <a href="#" onclick="javascript: launchWebConsole('{{ d.name }}');"
               title="Launch Console">
                <img src="{% static 'images/console.png' %}" width="20px" height="20px"/></a>
            &nbsp;
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% if isLinux == True %}
    <tr>
        <th colspan="3">KVM Virtual Network Status</th>
    </tr>
    {% if network_list|length == 0 %}
    <tr>
        <td colspan="3">
            Virtual Networks not yet defined in hypervisor!
        </td>
    </tr>
    {% endif %}

    {% for n in network_list %}
    <tr>
        <td>
            {{ n.name }}
        </td>
        <td>
            {{ n.state }}
        </td>
        <td>
            <div class="status_grey">
            <a href="#" onclick="javascript: manageNetwork('undefine', '{{ n.name}}', '{{ topologyId }}');"
               title="Delete Network entirely">
                X</a>
            </div>
            &nbsp;
            {% if topologyId == None %}
            <div class="status_grey">
                <a href="/ajax/viewNetwork/{{ n.name }}"
                    title="View Network XML Details">
                ?</a>
            </div>
            &nbsp;
            {% endif %}
            {% if n.state != "running" %}
            <div class="status_red">
                <a href="#" onclick="javascript: manageNetwork('start', '{{ n.name }}', '{{ topologyId }}');"
                    title="Power on network in Hypervisor">
                &#9661;</a>
             </div>
            &nbsp;
            {% else %}
             <div class="status_green">
                <a href="#" onclick="javascript: manageNetwork('stop', '{{ n.name}}', '{{ topologyId }}');"
                    title="Power off network in Hypervisor">
                &#9651;</a>
             </div>
            &nbsp;
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% endif %}
    {% if topologyId != None %}
    <tr>
        <td colspan="3">
            <input type="button" name="startButton" id="startButton"
                   value="Start Topology" onclick="javascript: startTopology();"/>
            &nbsp;
            <input type="button" name="pauseButton" id="pauseButton"
                   value="Pause Topology" onclick="javascript: pauseTopology();"/>
            &nbsp;
            <input type="button" name="refreshDSButton" id="refreshDSButton"
                   value="Refresh Status"
                   onclick="javascript: refreshDeploymentStatus('{{ topologyId }}');"/>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3">
            <input type="button" name="refreshDSButton" id="refreshDSButton"
                   value="Refresh Hypervisor Status"
                   onclick="javascript: refreshDeploymentStatus('{{ topologyId }}');"/>
        </td>
    </tr>
    {% endif %}
    {% endif %}
</table>

