{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Wistar - Lab Rat - Home{% endblock %}
{% block scripts %}

    <script type="text/javascript" src="{% static "js/jquery-1.8.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/wistar_utils.js" %}"></script>
    <!-- <script type="text/javascript" src="{% static "js/prototype.js" %}"></script> -->
    <script type="text/javascript">
    jQuery( window ).load( function() {
        refreshDeploymentStatus('');
    });
    </script>

{% endblock %}
{% block content %}

<div id="deploymentStatus"></div>
{% endblock %}
