{% load staticfiles %}
<script type="text/javascript">
{% if stack == None %}
is_deployed = false;
{% else %}
is_deployed = true;
{% endif %}
</script>
<table>
    <tr>
        <th colspan="3"> Stack Status</th>
    </tr>
    {% if stack == None %}
    <tr>
        <td>
            Not yet deployed to OpenStack!
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" value="Deploy to OpenStack"
                   onclick="javascript: redir('/ajax/deployStack/{{ topology_id }}')"/>
            <input type="button" name="refreshDSButton"
                   value="Refresh OpenStack Status"
                   onclick="javascript: refreshDeploymentStatus('{{ topology_id }}');"/>
            <input type="hidden" id="deployed" value="1"/>
        </td>
    </tr>
    {% else %}
        {% if 'COMPLETE' not in stack.stack_status %}
        <tr>
            <td>
                Status
            </td>
            <td>
                {{ stack.stack_status }}
            </td>
        </tr>
        <tr>
            <td>
                Status Detail
            </td>
            <td>
                {{ stack.stack_status_reason }}
            </td>
        </tr>
        {% else %}
            {% for resource in stack_resources.resources %}
            {% if resource.resource_type == "OS::Nova::Server" %}
            <tr>
                <td>
                     <a title="View in Horizon"
                        href="#"
                        onclick="javascript: window.open('{{ openstack_horizon_url }}/project/instances/{{ resource.physical_resource_id }}')">
                        {{ resource.resource_name }}
                     </a>
                </td>
                <td colspan="2" style="white-space: nowrap;">
                        {% if 'COMPLETE' in resource.resource_status %}
                        <div class="status_green">&#10003;</div>
                        &nbsp;
                        <a href="#"
                            onclick="javascript: window.open('{{ openstack_horizon_url }}/project/instances/{{ resource.physical_resource_id }}/?tab=instance_details__console');"
                            title="Launch Console"
                            >
                            <img src="{% static 'images/console.png' %}" width="20px" height="20px"/>
                        </a>
                        {% else %}
                        <div class="status_red">&#9661;</div>
                        &nbsp;
                        {% endif %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        {% endif %}
        <tr>
            <td>
                Options
            </td>
            <td colspan="2">
                <div class="status_grey">
                    <a href="#"
                        onclick="javascript: window.open('{{ openstack_horizon_url }}/project/stacks/stack/{{ stack.id }}/')"
                        title="View in Horizon">&#128269;</a>
                </div>
                &nbsp;
                <div class="status_red">
                    <a href="#" onclick="javascript: redir('/ajax/deleteStack/{{ topology_id }}')"
                       title="Delete Stack">&#10005;</a>
                </div>
                &nbsp;
                <div class="status_grey">
                    <a href="#" onclick="javascript: redir('/topologies/exportHeat/{{ topology_id }}')"
                        title="Show HEAT">&#9881;</a>
                </div>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="button" name="refreshDSButton" id="refreshDSButton"
                       value="Refresh OpenStack Status"
                       onclick="javascript: refreshDeploymentStatus('{{ topology_id }}');"/>
            </td>
        </tr>
    {% endif %}
</table>
